@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
*{  
  margin:0;
  padding:0;
  box-sizing:inherit; 
}

html{ 
  font-size: 10px; 
}

body {
  font-family: 'Segoe UI', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-weight: 100;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes slide {
  0% {
    margin: 0 -40%;
    opacity: 0
  }
  20% {
    margin: 0;
    opacity: 1
  }
  99% {
    margin: 0;
    opacity: 1
  }
  100% {
    z-index:0;
    opacity: 0.05
  }
}

@media only screen and (min-width: 2200px) {
  html {
    font-size: 11px; 
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 9px; 
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 8px; 
  }
}